.tatle{
	width: 100%;
	height: 32px;
	background: #f7f7f7;
	border-bottom: 1px #cccccc solid;
}
.head{
	height: 32px;
	width: 1200px;
	background: #f7f7f7;
    margin:  0 auto;

}
.headright{
	height: 100%;
	width: 440px;
	float: right;
	background: #f7f7f7;

}
.welcome{
	height: 100%;
	width: 130px;
	float:left;
	color: #808080;
	font-family: "微软雅黑";
	line-height: 32px;
    background: #f7f7f7;
    margin-right: 20px;
}
.loninbox{
	width: 78px;
	height: 100%;
    background: #f7f7f7;
    float:left;
    color: #808080;
    line-height: 32px;
    font-family: "微软雅黑";
    margin-right: 20px;
}
.login{
	margin-right: 10px;
	color: #808080;
}

.heng{
	margin-right: 9px;
}
.zhuce{
	margin-right: 10px;
	color: #808080;
}

.dingdan{
	width: 48px;
	height: 100%;
    background: #f7f7f7;
    float:left;
    color: #808080;
    line-height: 32px;
    font-family: "微软雅黑";
    margin-right: 16px;
}
.dingdan:hover{
	color: #b81b22;
}
.tongzhi{
	width: 73px;
	height: 100%;
    background: #f7f7f7;
    float:left;
    margin-right: 13px;
}

.tongzhi div{
	width: 16px;
	height: 16px;
	margin-top: 9px;
	margin-right: 9px;
	float: left;
	background: url('../img/laba.png') no-repeat center center;
}
/* .tongzhi s{
	color: #808080;
	margin-top: 10px;
	color: #808080;
	font-family:"微软雅黑"；	
} */
.gonggao{
	color: #808080;
	margin-top: 10px;
	color: #808080;
	font-family:"微软雅黑";
	line-height: 32px;
}
.gonggao:hover{
	color: #b81b22;
}
.fenxiang{
	width: 38px;
	height: 100%;
    background:#f7f7f7;
    float:left;
}
.weixing{
	width: 18px;
	height: 18px;
	float: left;
	margin-top: 7px;
	margin-right: 2px;

}
.weibo{
	width: 18px;
	height: 18px;
	float: left;
	margin-top: 7px;
}
.sousuo{
	width: 1200px;
	height: 166px;
	margin:  0 auto;
	background: #ffffff;
	overflow: hidden;
}
.kongbai{
	width: 1200px;
	height: 29px;
	background: #ffffff;
	margin: 0 auto;
	margin-top: 28px;

}
.soubox{
	width: 438px;
	height: 100%;
	float: right;
	background: #ffffff;

}
/* .sousuokuang{
	width: 310px;
	height: 100%;
	background: #ffffff;
	font-family: "微软雅黑";
	color:#000;
	border: 1px solid #c9caca;
	line-height: 27px;
	float:left;
	box-sizing: border-box;
	padding-right: 14px;
}
.so */usuokuang span{
	margin-left:5px;
}
.shurukuang{
	width: 261px;
	height: 29px;
	box-sizing: border-box;
	border: 1px solid #c9caca;
	float: left;
	font-family: "微软雅黑";
	padding-left: 14px;
}
.anniu{
	width:49px;
	height: 29px;
	border: 1px solid #c9caca; 
	float: left;
	background: #b81c20;
	border-left: none;
	font-family: "微软雅黑";
	color: white;
}
.sousuoanniu{
	width: 49px;
	height: 28px;
	border-left:1px solid #c9caca;
	background: #b81c20;
	float: right; 
}
.sousuoanniu span{
	font-family: "微软雅黑";
	color: white;
	font-size: 14px;
	margin-left: 9px;

}
.gouwuche{
	width: 105px;
	height: 27px;
	background: #b81c20;
	float:right;
	border: 1px solid #b81c20;
}
.gouwuche:hover{
	background: white;
}
.gouwuche div{
	width: 20px;
	height: 16px;
	margin-left: 6px;
	float: left;
	margin-right: 4px;
	margin-top:7px;
	background: url('../IMG/gouwuche_03.png') no-repeat center center;

}
.gouwuche:hover div{
	background: url('../IMG/gouwuche04.png') no-repeat center center;
}

.gouwuche span{
	font-family: "微软雅黑";
	color: white;
	float:left;
	line-height: 29px;
}
.gouwuche:hover span{
	color: #b81c20;
}
.hot{
	width: 1200px;
	height: 36px;
	background: #fff;
	margin:  0 auto;
}
.hotkuang{
	width: 418px;
	height: 12px;
	background: #fff;
	float: right;
	margin-top: 8px;
}
.hotkuang a{
	color: black;
	font-size: 12px;
	font-family: "微软雅黑";
	margin-right: 3px;

}
/* .hotkuang a:hover{
    color: 	red;
} */

.logobox{
	width: 1200px;
	height: 44px;
	background: #fff;
}
.logo{
	width: 184px;
	height: 44px;
	background: #fff;
	float: left;
	margin-right: 16px;
}
.fenlei{
	width: 988px;
	height: 16px;
	background:#fff;
	float: left;
	margin-top:28px; 
}
.fenlei a{
	display: block;
	width: 98px;
	height: 100%;
	float: left;
	text-align: center;
	border-right: 1px solid black;
	box-sizing: border-box;
	color: black;
	font-family: "微软雅黑";
	font-size: 14px;
}
.fenlei a:hover{
	color: #b81b22;

}
.fenlei .jiaju{
	border-right: none;
}
.banner{
	width: 1200px;
	height: 533px;
/* 	background: black; */
	margin:  0 auto;
	position: relative;
}
.banner a{
	display: block;
	width: 1200px;
	height: 533px;
	/* background: ; */
	margin:  0 auto;
}
.bannerleft{
	width: 20px;
	height: 53px;
	background: yellow;
	position: absolute;
	background: url('../IMG/jiantou.png') no-repeat -2px -5px;
	top: 0;
	bottom: 0;
	left: 12px;
	margin-top: auto;
	margin-bottom: auto;

}
.bannerleft:hover{
	background: url('../IMG/jiantou.png') no-repeat -2px -66px;
}
.bannerright{
	width: 20px;
	height: 53px;
	background: green;
	position: absolute;
	background: url('../IMG/jiantou.png') no-repeat -60px -5px;
	top: 0;
	bottom: 0;
	right: 12px;
	margin-top: auto;
	margin-bottom: auto;
}
.bannerright:hover{
	background: url('../IMG/jiantou.png') no-repeat -60px -66px;
}
.qiu{
	width: 113px;
	height: 12px;
	position: absolute;
	left: 0;
	right: 0;
	top: 502px;
	margin-right: auto;
	margin-left: auto;

}
.yuan1{
	width: 12px;
	height: 12px;
	background: #a10000;
	border-radius:6px ;
	float: left;
	margin-right: 8px;
	cursor: pointer;
}
.yuan1:hover{
	background: #dddddd;

}
.yuan2{
	width: 12px;
	height: 12px;
	background: #ddd;
	border-radius:6px ;
	float: left;
	margin-right: 8px;
	cursor: pointer;
}
.yuan2:hover{
	background: #a10000;
}
.yuan3{
	width: 12px;
	height: 12px;
	background: #ddd;
	border-radius:6px ;
	float: left;
	cursor: pointer;
}
.yuan3:hover{
	background: #a10000;
}
.guding{
	display: block;
	width: 75px;
	height: 206px;
	background: url('../IMG/baywindow.png');
	position: fixed;
	bottom: 50px;
	right: 10px;
	cursor: pointer;

}
.biaoti{
	width: 1200px;
	height: 130px;
	background: #ffffff;
	font-family: "微软雅黑";
	line-height: 130px;
	margin: 0 auto;
	font-size: 16px;
	text-align: center;
}
.shangping{
	width: 1200px;
	height: 4800px;
	background: #ffffff;
	margin: 0 auto;

}
.diyige{
	width: 390px;
	height: 600px;
	background: red;
	float: left;
	margin-right: 15px;
	display: block;
}
.dierge{
	width: 390px;
	height: 600px;
	background: red;
	float: left;
	margin-right: 15px;
	display: block;
}
.disange{
	width: 390px;
	height: 600px;
	background: red;
	float: left;
	display: block;
}
.biaoti2{
	width: 1200px;
	height: 130px;
	background: #ffffff;
	font-family: "微软雅黑";
	line-height: 130px;
	margin: 0 auto;
	font-size: 16px;
	text-align: center;
}
.shangping2{
	width: 1200px;
	height: 509px;
	background: #fff;
	margin:  0 auto;
	margin-bottom: 48px;

}
.diyinianshang{
	display: block;
	width: 590px;
	height: 509px;
	background: #fff;
	float: left;
	margin-right: 18px;
}
.diyijian{
	width: 590px;
	height: 440px;
	display: block;
}

.diyijian img{
	width: 590px;
	height: 440px;
	display: block;
}
.zikuang{
	width: 590px;
	height: 69px;
	background: #fff;
	font-family: "微软雅黑";
	color: black;
	float: left;
    border: 1px solid #e8e7ec;
	border-top: none;
	box-sizing: border-box;
}
.zikuang span{
	float: left;
	margin-left:13px;
	line-height: 69px;
}
.zikuang .qian{
	float: right;
	margin-right:13px;
	line-height: 69px;
	color: #b81b22;
}
.diersanjianshang{
	display: block;
	width: 289px;
	height: 509px;
	background: #fff;
	float: left;
	margin-right: 17px;
}
.er{
    display: block;
	width: 289px;
	height: 249px;
}
.dierjian{
	display: block;
	width: 289px;
	height: 180px;
	background: #fff;
	float: left;
}
.dierjian img{
	display: block;
	width: 289px;
	height: 100%;
}
.zikuanger{
	width: 289px;
	height: 69px;
	background: #fff;
	font-family: "微软雅黑";
	color: black;
	float: left;
    border: 1px solid #e8e7ec;
	border-top: none;
	box-sizing: border-box;
}
.zikuanger span{
	float: left;
	margin-left:10px;
	line-height: 69px;
}
.zikuanger .qian{
	float: right;
	margin-right:10px;
	line-height: 69px;
	color: #b81b22;
}
.san{
    display: block;
	width: 289px;
	height: 260px;
}
.disanjian{
	display: block;
	width: 289px;
	height: 191px;
	background: black;
	float: left;
}
.disanjian img{
	display: block;
	width: 289px;
	height: 100%;
}

.zikuangsan{
	width: 289px;
	height: 69px;
	background: #fff;
	font-family: "微软雅黑";
	color: black;
	float: left;
    border: 1px solid #e8e7ec;
	border-top: none;
	box-sizing: border-box;
}
.zikuangsan span{
	float: left;
	margin-left:10px;
	line-height: 69px;
}
.zikuangsan .qian{
	float: right;
	margin-right:10px;
	line-height: 69px;
	color: #b81b22;
}
.disijian{
	display: block;
	width: 286px;
	height: 509px;
	background: #fff;
	float: left;
}
.disijian{
	width: 286px;
	height: 440px;
	/* background: url('../IMG/20.jpg') no-repeat center center; */
	display: block;
}
.disijian img{
	display: block;
	width: 286px;
	height: 100%;
}
.zikuangsi{
	width: 286px;
	height: 69px;
	background: #fff;
	font-family: "微软雅黑";
	color: black;
	float: left;
    border: 1px solid #e8e7ec;
	border-top: none;
	box-sizing: border-box;

}
.zikuangsi span{
	float: left;
	margin-left:10px;
	line-height: 69px;
}
.zikuangsi .qian{
	float: right;
	margin-right:10px;
	line-height: 69px;
	color: #b81b22;
}
.biaotisan{
	width: 1200px;
	height: 130px;
	background: #ffffff;
	font-family: "微软雅黑";
	margin: 0 auto;
	font-size: 16px;
	text-align: center;

}
.biaotisankuang{
	width: 89px;
	height: 17px;
	background: #fff;
	margin:  0 auto;
	padding-top: 64px;

}
.yewei{
	width: 1200px;
	height: 285px;
	background: #fff;
	margin:  0 auto;
	overflow: hidden;
	box-sizing: border-box;
	border: 1px solid #e0e0e1;

}
.kefuguanyu{
	width: 1119px;
	height: 219px;
	background: #fff;
	margin:  0 auto;
	margin-top: 35px;
}
.kefu{
	width: 1119px;
	height: 139px;
	background: #fff;
	margin: 0 auto;
	margin-bottom: 23px;

}

.kefukuang{
	width: 370px;
	height: 139px;
	background:#fff;
	border-right:1px solid #e0e0e1
	;
	float: left;
}
.touxiang{
	width: 37px;
	height: 40px;
	background: url('../IMG/kefu.png') no-repeat center center;
	margin:  0 auto;
	margin-bottom: 33px;
}
.wenzi{
	width: 156px;
	height: 32px;
	background:#b81c22;
	color: white;
	line-height: 32px;
	text-align: center;
	margin:  0 auto;
}
.tuihuo{
	width: 370px;
	height: 139px;
	background:#fff;
	border-right:1px solid #e0e0e1;
	float: left;
}
.qitian{
	width: 38px;
	height: 38px;
	background: url('../IMG/tuihuo.png') no-repeat center center;
	margin:  0 auto;
	margin-bottom: 33px;

}
.tuihuozi{
	width: 77px;
	height: 12px;
	background: #fff;
	font-family: "微软雅黑"; 
	color: black;
	line-height: 12px;
	text-align: center;
	margin:  0 auto;
	margin-bottom: 14px;	
}
.tuihuozi2{
	width: 123px;
	height: 12px;
	background: #fff;
	font-family: "微软雅黑"; 
	color: black;
	line-height: 12px;
	text-align: center;
	margin:  0 auto;	
}
.erweima{
	width: 377px;
	height: 139px;
	background:#fff;
	float: left;

}
.matu{
	width: 97px;
	height: 97px;
	background: url('../IMG/erweia.png') no-repeat center center;
	margin: 0 auto;
	margin-top: 3px;
	margin-bottom: 21px;
}
.erweimazi{
    width: 127px;
	height: 12px;
	background: #f8f8f8;
	font-family: "微软雅黑"; 
	color: black;
	line-height: 12px;
	text-align: center;
	margin:  0 auto;
}
.erweimazi span{
	color: #b81c22;
}
.guanyu{
	width: 1119px;
	height: 57px;
	background: #f8f8f8;
	margin:  0 auto;
    padding-top: 17px;
    box-sizing: border-box;
}
.guanyukuang{
	width: 1119px;
	height: 26px;
	background: #f8f8f8;
	margin:  0 auto;

}
.xinxi{
	display: block;
	width: 179px;
	height: 26px;
	background: #f8f8f8;
	text-align: center;
	line-height: 26px;
	border-right: 1px solid #dadadb;
	float: left;
	font-family: "微软雅黑";
	color: black;
}
.xinxi:hover{
	color: #b81b22;
}
.xinxi2{
	display: block;
	width: 179px;
	height: 26px;
	background: #f8f8f8;
	text-align: center;
	line-height: 26px;
	float: left;
	font-family: "微软雅黑";
	color: black;
}
.xinxi2:hover{
	color: #b81b22;
}
.kong2{
	width: 1200px;
	height: 60px;
	background: #fff;
	border-bottom: 1px solid #3e3a39;
	margin: 0 auto;

}
.gongwang{
	width: 1200px;
	height: 54px;
	background: #fff;
	margin: 0 auto;
	font-family: "微软雅黑";
	color: black;
	text-align: center;
	padding-top: 17px;
	margin-bottom: 38px;
}
.xuke{
	display: block;
	margin-bottom: 14px;
}
.youshang{
	display: block;
	width: 1200px;
	height: 60px;
	background: #;
	margin: 0 auto;
}
.logo1{
	box-sizing: border-box;
	width: 112px;
	height: 40px;
	background: red;
	float: left;
	margin-left: 235px;
	margin-right: 20px;
	margin-top:4px;
}
.logo2{
    box-sizing: border-box;
	width: 156px;
	height: 45px;
	background: red;
	float: left;
	margin-right: 20px;

}
.logo3{
	box-sizing: border-box;
	width: 87px;
	height: 39px;
	background: red;
	float: left;
	margin-right: 20px;
	margin-top: 4px;

}
.logo4{
	box-sizing: border-box;
	width: 94px;
	height: 37px;
	background: red;
	float: left;
	margin-right: 20px;
	margin-top: 4px;

}
.logo5{
	box-sizing: border-box;
	width: 42px;
	height: 42px;
	background: red;
	float: left;
	margin-right: 20px;
	margin-top: 3px;
}
.logo6{
	box-sizing: border-box;
	width: 120px;
	height: 39px;
	background: red;
	float: left;
	margin-right: 20px;
	margin-top: 5px;
}